.App {
  text-align: center;
  display: flex;
  background: #282c34;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
body {
  margin: 0px;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.sidespan {
  padding: 0px 6px 0px 12px;
}
.sidemenu {
  width: 260px;
  padding: 10px;
  /* border: 1px solid white; */
  background: #202123;
}
.side-menu-button {
  padding: 15px;
  border: 1px solid white;
  background: #202123;
  border-radius: 5px;
  height: 50px;
  text-align: left;
  transition: all 0.5s;
}
.side-menu-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.chat-input-holder {
  padding: 12px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.chat-textarea {
  background: #24414f;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 12px;
  color: white;
  font-size: 1.25em;
}

.chat-lg {
  padding: 24px;
  overflow-y: scroll;
  height: 100%;
  text-align: left;
  width: red;
}

.chat-message {
  display: flex;
  background-color: #202123;
  justify-content: start;
  flex-direction: column;
}

.chat-message.chat-gpt {
  background-color: rgba(255, 255, 255, 0.08);
}
.avatar {
  background: rgb(13, 151, 113);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 15px 15px 15px 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-message-center {
  max-width: 640px;
  display: flex;
  align-items: center;
}
.avatar-img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-imglogo {
  height: 68%;
  object-fit: cover;

}
.chatbox {
  flex: 1;
  border: 1px solid white;
  position: relative;
  /* border: 10px solid white; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
